/* CANVAS */
canvas {
	position:absolute;
}
#myCanvas {
	z-index:0;
}
#myCanvas2 {
	z-index:1;
}
#myCanvas3 {
	z-index:2;
}


.smoothBG {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #BDBDBD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #BDBDBD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #BDBDBD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #BDBDBD); /* Standard syntax */
}



#image_upload_form {
	display:none;
}
#cameraSelectImage {
	border-radius:50%;
	padding:1em;
	display:inline-block;
	border:1px solid black;
	cursor:pointer;
	margin-top:1em;
}
#cameraSelectImage:hover {
	background-color:orange;
}
#cameraSelectImage img {
	width:100px;
	height:100px;
}



/* CONTROLS */
#controls_container {
	text-align:center;
	position:absolute;
	bottom:0;
	z-index:3;
	width:100%;
	display:none;
}
#controls {
	text-align:left;
}
#controls .buttons-container {
	margin:10px;
}
#controls .buttons-container label {
	font-size:16px;
	line-height:25px;
}
#controls .slider-container {
	margin:10px;
}
#slider {
	width:100%;
	margin:0;
	padding:0;
}



.more-buttons {
	width:20px;
	height:20px;
	background-repeat:no-repeat;
	background-size:100%;
	background-image:url('../images/ic_more_vert_black_24px.svg');
	float:right;
	cursor:pointer;
}
.buttons-menu {
	display:none;
	position:absolute;
	right:4px;
	top:-137px;
}
.buttons-menu.open {
	display:block;
}
.buttons-menu > div {

}
.buttons-menu > div > a {
	font-family:Arial;
	text-decoration:none;
	font-size:15px;
	color:black;
	display:block;
	padding:4px;
}
.buttons-menu > div > a > img {
	width:20px;
	height:20px;
	display:inline-block;
	margin-right:5px;
	position:relative;
	top:4px;
}
.buttons-menu > div:not(:last-child) {
	border-bottom:1px solid black;
}




/* hide temporary image element */
#cameraOutput {
	display:none;
}

/* loading image */
#content_container .loading {
	text-align:center;
	padding-top:1em;
}
#content_container .loading img {
	width:30%;
	max-width:200px;
}



/* this part is to remove the dotted border around the slider */
input[type="range"] {
	border : 0;
}
input[type="range"]::-moz-focus-outer {
    border : 0;
}