body
{
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

div.ui
{
  background-color: black;
  min-height: 100%;
}

div.ui:after
{
  content: "";
  display: block;
}

div.ui:after, div.control-panel
{
  display: inline-block;
  margin-top: -60px;
}

div.control-panel
{
  background-color: #AFAFA3;
  width: 100%;
  padding: 10px;
}

p#text
{
  color: red;
  display: inline;
}

input#distance-slider
{
  width: 200px;
  height: 10px;
  background-color: cyan;
  -webkit-appearance: none;
}

input#distance-slider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #3D3D3D;
}

button.button
{
  border-radius: 10%;
  height: 40px;
  width: 80px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 15px;
  border: 0;
  margin-right: 10px;
}

button.primary
{
  background-color: #3764F4;
}

button.danger
{
  background-color: #F73653;
}

button.warning
{
  background-color: #F7EE36;
}
