html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
	display:flex;
	flex-flow:column;
	font-family: Raleway;
	background-color:white;
}
.content {
	overflow-y: auto;
	overflow-x:hidden;
	height:100%;
	flex:0 1 auto;
	display:flex;
	flex-flow:column;
}
.inner_content {
	flex:1 0 auto;
}
.menu.close {
	display:none;
}
.content.close {
	display:none;
}


/* CUSTOM */
.shade {
	background-color:black;
}
.shadow {
	box-shadow: 0px 0px 3px #000000;
}
.intro {
	padding:1em;
	font-size:1.5em;
	background-color:#15b386;
	color:white;
}
.heading {
	font-size:2em;
	text-align:center;
}
.center {
	text-align:center;
}
.icon-link-container > div {
	width:6%;
	min-width:100px;
	border-radius:20px;
	background-color:#0c9ca7;
	display:inline-block;
	padding:1em;
	margin:1em;
}
.icon-link-container > div > a {
	outline: 0;
}
.icon-link {
	width:100%;
}












/* TOP MENU */
.menu {
	text-align:right;
}
.menu .menu-item {
	color:white;
	padding:1em;
	cursor:pointer;
	display:inline-block;
	text-align:center;
	transition-property: background-color,color;
	transition-duration: 0.3s;
}
.menu .menu-item:hover {
	background-color:#68e4ff;
	color:black;
}
.menu .menu-item.selected {
	background-color:white;
	color:black;
}
.menu .menu-item.selected:hover {
	background-color:white;
	color:black;
}
.menu .menu-item.menu-item-left {
	float:left;
}
.menu .menu-collapse-button-container {
	height:3em;
	display:none;
	text-align:right;
}
.menu .menu-collapse-button {
	width:3em;
	height:3em;
	background-image:url('../images/ic_menu_white_24px.svg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	cursor:pointer;
	display:inline-block;
	transition-property: background-color;
	transition-duration: 0.3s;
}
.menu .menu-collapse-button:hover {
	background-color:#68e4ff;
}
@media screen and (max-width: 740px) {
	.menu .menu-header {
		max-height:0px;
		transition: max-height 0.2s linear;
		overflow-y:auto;
		border-bottom:1px solid rgba(113, 113, 113, 1);
	}
	.menu.open .menu-header {
		max-height:250px;
		transition: max-height 0.2s linear;
	}
	.menu .menu-item {
		display:block;
	}
	.menu .menu-item.menu-item-left {
		float:none;
	}
	.menu .menu-collapse-button-container {
		display:block;
	}
}



/* BANNER */
#banner {
	position:relative;
}
.carousel {
	background-image:url('../images/download.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:0 center;
	height:500px;
}

/* PHONE TEMPLATE */
.phone-template {
	background-image:url('../images/mockups3.png');
	background-repeat:no-repeat;
	background-size:cover;
	width:200px;
	height:382px;
	position:absolute;
	right:0;
	bottom:16px;
	margin:10px;
}

/* CAROUSEL PAGES */
.carousel-pages {
	position:absolute;
	bottom:0;
	margin-left:50%;
	transform:translateX(-50%);
}
.carousel-pages-item {
	background-color:white;
	border-radius:50%;
	width:10px;
	height:10px;
	display:inline-block;
	margin:5px;
	cursor:pointer;
}
.carousel-pages-item.selected {
	background-color:red;
}



/* STEP */
#howtouse, #features, #benefits {
	padding:1em;
}
.step-container {
	text-align:center;
	margin:1em 0;
}
.step-container .step {
	display:inline-block;
	width:30%;
	min-width:200px;
	margin:0.5em;
}
.step-container .step .step-img {
	width:30%;
	display:inline-block;
	border-radius:50%;
	padding:1em;
	margin-bottom:0.5em;
}
.step-container .step .step-img img {
	width:100%;
	display:inline-block;
}
.color1 {
	background-color:rgb(104, 183, 7);
}
.color2 {
	background-color:rgb(255, 180, 0);
}
.color3 {
	background-color:rgb(186, 0, 255);
}

/* DEMO - TRY NOW */
#trynow {
	text-align:center;
	padding:1em;
}
#image_upload_form {
	display:none;
}
#cameraSelectImage {
	border-radius:50%;
	padding:1em;
	display:inline-block;
	border:1px solid black;
	cursor:pointer;
	margin-top:1em;
}
#cameraSelectImage:hover {
	background-color:orange;
}
#cameraSelectImage img {
	width:100px;
	height:100px;
}
#demo_page {
	display:block;
}
#demo_page.close {
	display:none;
}

/* CONTACT */
#contact {
	padding:1em;
}

/* GET IT NOW */
#getitnow {
	padding:1em;
}
.price-table {

}
.price-table > div {
	display:inline-block;
	border-radius:5px;
	border:1px solid black;
	margin:1em;
}
.price-table > div > div {
	background-color:#ddd;
	padding:1em;
	font-size:1.2em;
}
.price-table > div > div:first-child {
	background-color:#ffbc64;
	border-radius:5px 5px 0 0;
}
.price-table > div > div:last-child {
	background-color:#abdeff;
	border-radius:0 0 5px 5px;
}
.price-table > div > div:not(:last-child) {
	border-bottom:1px solid black;
}

/* FOOTER */
.footer {
	padding:1em;
	flex:0 0 auto;
	text-align:center;
	background-color:black;
	color:white;
}