div.table
{
  font-family: 'Roboto', sans-serif;
  width: 30%;
  display: table;
}

span.basic-price
{
  text-shadow: 1px 1px red;
}

div.row
{
  display: table-row;
}

div.header
{
  background-color: #4CCC65 !important;
  color: white;
}

div.header h2
{
  padding-top: 10px;
}

div.column h4
{
  padding-top: 10px;
}

div.click
{
  background-color: #D3DAEA !important;
}

div.column
{
  display: table-cell;
  border: 1px solid #D3DAEA;
  background-color: white;
  padding: 10px;
}
